.RegistrationPage {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: aliceblue;

}
.RegistrationPage_content {
    width: 100%;
    max-width: 680px;
    height: 580px;
    padding: 0;
    margin: 100px 0 0 0 ;
    background: rgb(248, 248, 248, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegistrationPage_container {
    margin: 40px 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.RegistrationPage_tabs {
    display: flex;
}
.RegistrationPage_tabs-tab {
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 30px;
    border-bottom:2px #FAC704 solid ;
}

.RegistrationPage_tabs-tab:nth-last-child(2) {
    border-bottom:2px #3F3F45 solid ;
}

.RegistrationPage_inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.RegistrationPage_inputs-input {
    background: #BFBFBF;
    color: #989898;
    height: 50px;
    width: 100%;
    padding: 0 0 0 20px;
    margin: 10px;
}

.RegistrationPage_enter {
    display: flex;
    justify-content: center;
    
}

.RegistrationPage_enter-btn {
    background: #fac9044b;
    height: 50px;
    width: 250px;
    margin-bottom: 50px;
    color: white;
}

.RegistrationPage_futter {
    text-align: center;
}