

.rightSettingsCheckBox {
    width: 100%;    
    display: flex;
    margin-bottom: 10px;
   
}

.rightSettingsCheckBox-label {
    color: #BFBFBF;
    margin-right: 10px;
}

.rightSettingsCheckBox-checkbox {
    
}

.rightSettingsCheckBox-checkbox {

    
  }

 
   
    
 
  
  
  
 
  
  
  

  
  

